# GLPI db
GLPI_DB_HOST=glpi-db
GLPI_DB_PORT=3306
GLPI_DB_NAME=glpi
GLPI_DB_USER=change_me
GLPI_DB_PASSWORD=change_me
GLPI_DB_ROOT_PASSWORD=change_me

# BookStack db
BOOKSTACK_DB_HOST=bookstack-db
BOOKSTACK_DB_PORT=3306
BOOKSTACK_DB_DATABASE=bookstack
BOOKSTACK_DB_USERNAME=change_me
BOOKSTACK_DB_PASSWORD=change_me
BOOKSTACK_DB_ROOT_PASSWORD=change_me

# BookStack app
APP_URL=http://SERVER_IP:81
APP_KEY=base64:change_me
PUID=1000
PGID=1000
TZ=Europe/Moscow
